.App {
  display:flex;
  width: 100%;
  height:100%;
  padding:20px;
}

.sidebar {
  padding: 5px;
  display:flex;
  flex-direction: column;
  flex:23%;
  height:100vw;
  background-color:lightgrey;
  overflow-y: auto;
}

.sidebar img {
  width: 100%;
  margin-right: 20px;
}

.main {
  flex: 73%; 
  background-color:darkgrey;
  height:100vw;
  text-align:center;
  
}

.img-details {
  text-align:center;
}

.dragbar {
  
  width: 20px;
  background-color: red;
  writing-mode: vertical-lr;
  text-orientation: upright;
  


}

.dragbar span {
  font-weight: bold;
  margin-top:200px;
  top:50%;
}



.dragbar:hover {
  cursor:ew-resize;
}

.img-details img{
  display: block;
  margin:auto;
  width: 75%;
  height: 75%;
  margin-top: 50px;
}

